<p id="notice"><%= notice %></p>

<h1>Listing Admin Fathers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_fathers.each do |admin_father| %>
      <tr>
        <td><%= admin_father.name %></td>
        <td><%= link_to 'Show', admin_father %></td>
        <td><%= link_to 'Edit', edit_admin_father_path(admin_father) %></td>
        <td><%= link_to 'Destroy', admin_father, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Father', new_admin_father_path %>
