<p id="notice"><%= notice %></p>

<h1>Listing Admin Sons</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Admin father</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_sons.each do |admin_son| %>
      <tr>
        <td><%= admin_son.name %></td>
        <td><%= admin_son.admin_father %></td>
        <td><%= link_to 'Show', admin_son %></td>
        <td><%= link_to 'Edit', edit_admin_son_path(admin_son) %></td>
        <td><%= link_to 'Destroy', admin_son, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Son', new_admin_son_path %>
